.container-contact {
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  border-radius: 1rem;
  background-color: var(--color-bg2);
  height: 30rem;
  margin: 7rem auto;
}

.aside-box {
  background-color: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
}

.img-aside {
  width: 12rem;
  margin-bottom: 2rem;
}

.aside-box h2 {
  margin-bottom: 1rem;
  text-align: left;
}

.aside-box p {
  font-size: var(--fs-200);
  margin-bottom: 2rem;
}

.contact-info li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-contact {
  display: flex;
  margin-top: 3rem;
  gap: 0.7rem;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form-name {
  display: flex;
  gap: 1.2rem;
}

.form-contact input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-bg);
}

.form-contact .btn {
  width: max-content;
  margin-top: 1rem;
}

/*=============MEDIA QUERIES(CONTACT SESSION TABLETS)=============*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-container-width);
  }

  .contact {
    padding-bottom: 0;
  }

  .container-contact {
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 1.5rem;
    height: auto;
  }

  .aside-box {
    padding: 1.5rem;
    width: auto;
    bottom: 0;
  }

  .form-contact {
    align-self: center;
    margin-right: 1.5rem;
  }
}

/*=============MEDIA QUERIES(CONTACT SESSION PHONES)=============*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--sm-container-width);
  }

  .container-contact {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0;
  }

  .form-name {
    flex-direction: column;
  }

  .form-contact input[type="text"] {
    width: 100%;
  }

  .form-contact {
    margin: 0 1.5rem 3rem;
  }
}
