/*=======Css-Variables====*/
:root {
  --color-primary: #6c63ff;
  --color-secondary: #00bf8e;
  --color-signal: #f7c94b;
  --color-danger: #f75842;
  --color-variant-danger: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-variant-light: rgba(255, 255, 255, 0.7);
  --color-dark: #000;
  --color-bg: #1f2641;
  --color-bg2: #2e3267;
  --color-bg3: #424890;

  /*=======Container-Variables====*/
  --lg-container-width: 80%;
  --md-container-width: 90%;
  --sm-container-width: 94%;

  /*=======Transitition-Variables====*/
  --transition: all 400ms ease-in-out;

  /*=======Fonts-family-Variables====*/
  --ff-montserrat: "Montserrat", sans-serif;

  /*=======Fonts-Size-Variables====*/

  --fs-700: 2.4rem;
  --fs-600: 2rem;
  --fs-500: 1.6rem;
  --fs-400: 1.3rem;
  --fs-300: 1rem;
  --fs-200: 0.9rem;
  --fs-100: 0.8rem;
}

/*=======General-Reset====*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--ff-montserrat);
  color: var(--color-white);
  background-color: var(--color-bg);
  line-height: 1.5;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/*=======Color-Utilities====*/
.color-white {
  color: var(--color-white);
}

/*=======Typography-Utilities====*/
.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}
/*=======Reusable Component====*/
.container {
  width: var(--lg-container-width);
  margin: 0 auto;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  font-weight: 500;
  padding: 1rem 2rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  transition: var(--transition);
  border-radius: 5px;
}

.btn:hover {
  color: var(--color-white);
  border-color: var(--color-signal);
  background-color: transparent;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-danger);
}

/*=======Nav-Component====*/
nav {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 11;
  background: transparent;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-menu a {
  cursor: pointer;
  transition: var(--transition);
}
.nav-menu a:hover {
  color: var(--color-bg2);
  border-bottom: 2px solid var(--color-white);
}

button {
  display: none;
}

/*=======Hero-Session====*/
.hero {
  position: relative;
  top: 6rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.hero p {
  margin: 1rem 0 2rem;
}
