/*=======Css-Variables====*/
:root {
  --color-primary: #6c63ff;
  --color-secondary: #00bf8e;
  --color-signal: #f7c94b;
  --color-danger: #f75842;
  --color-variant-danger: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-variant-light: rgba(255, 255, 255, 0.7);
  --color-dark: #000;
  --color-bg: #1f2641;
  --color-bg2: #2e3267;
  --color-bg3: #424890;

  /*=======Container-Variables====*/
  --lg-container-width: 80%;
  --md-container-width: 90%;
  --sm-container-width: 94%;

  /*=======Transitition-Variables====*/
  --transition: all 400ms ease-in-out;

  /*=======Fonts-family-Variables====*/
  --ff-montserrat: "Montserrat", sans-serif;

  /*=======Fonts-Size-Variables====*/

  --fs-700: 2.4rem;
  --fs-600: 2rem;
  --fs-500: 1.6rem;
  --fs-400: 1.3rem;
  --fs-300: 1rem;
  --fs-200: 0.9rem;
  --fs-100: 0.85rem;

  /*=======Fonts-Size-Variables@ Screen 1024px====*/

  --fs-h1: 2.2rem;
  --fs-h2: 1.7rem;
  --fs-h3: 1.4rem;
  --fs-h4: 1.2rem;
}

/*=======General-Reset====*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-montserrat);
  color: var(--color-white);
  background-color: var(--color-bg);
  line-height: 1.5;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/*=======Typography-Utilities====*/
h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

h4 {
  font-size: var(--fs-400);
}

h5 {
  font-size: var(--fs-300);
}

a {
  font-size: var(--fs-200);
  color: var(--color-white);
}

p {
  font-size: var(--fs-100);
}

/*=======Reusable Component====*/
.container {
  width: var(--lg-container-width);
  margin: 0 auto;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

section {
  padding: 6rem 0;
}
.btn {
  display: inline-block;
  font-weight: 500;
  padding: 1rem 2rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  transition: var(--transition);
  border-radius: 5px;
}

.btn:hover {
  color: var(--color-white);
  border-color: var(--color-signal);
  background-color: transparent;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-danger);
}

.grid--3--cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

.grid--2--cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.grid--4--cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
/*=======Nav-Component====*/
nav {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 11;
  background: transparent;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-menu a {
  cursor: pointer;
  transition: var(--transition);
}
.nav-menu a:hover {
  color: var(--color-bg2);
  border-bottom: 2px solid var(--color-white);
}

.window-scroll {
  background-color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

button {
  display: none;
}

/*=======Hero-Session====*/
.hero {
  position: relative;
  top: 6rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.hero p {
  margin: 1rem 0 2rem;
}

/*=======Category-Session====*/
.category {
  background-color: var(--color-bg2);
  height: 32rem;
}

.category-container {
  display: grid;
  grid-template-columns: 35% 65%;
}
.category-left {
  margin-right: 4rem;
}
.category h1 {
  margin-bottom: 3rem;
}

.category-left p {
  margin: 1rem 0 3rem;
}
.tags {
  background-color: var(--color-bg3);
  padding: 2rem;
  border-radius: 1.5rem;
  transition: var(--transition);
}

.tags:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.tags:nth-child(2) .tags-icon {
  background-color: var(--color-danger);
}

.tags:nth-child(3) .tags-icon {
  background-color: var(--color-secondary);
}

.tags:nth-child(4) .tags-icon {
  background-color: var(--color-signal);
}

.tags:nth-child(5) .tags-icon {
  background-color: var(--color-variant-danger);
}

.tags-icon {
  background-color: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.8rem;
}

.tags h5 {
  margin: 2rem 0 1rem;
}

/*=======Course-Session====*/
.course {
  margin-top: 10rem;
}

.course-outline {
  text-align: center;
  background-color: var(--color-bg3);
  border: 1px solid transparent;
  transition: var(--transition);
}

.course-outline:hover {
  border-color: var(--color-primary);
  background-color: transparent;
}
.info {
  padding: 2rem;
}

.info p {
  margin-block: 2rem;
}

/*=======FAQS-Session====*/
.faqs {
  background-color: var(--color-bg2);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faq {
  background-color: var(--color-primary);
  padding: 1.8rem;
  display: flex;
  gap: 0.8rem;
  height: fit-content;
  cursor: pointer;
  align-items: center;
}

.faq-icon {
  align-self: flex-start;
  font-size: var(--fs-400);
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.open p {
  display: block;
}

/*=======Testimoinal-Session====*/
.container-testimonials {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 4rem;
}

.testimonial {
  padding-top: 2rem;
}

.image-testimonial {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
}

.info-testimonial {
  text-align: center;
  margin-bottom: 3rem;
}

.testimonial-text {
  background-color: var(--color-bg3);
  text-align: center;
  padding: 2rem;
  position: relative;
}

.testimonial-text::before {
  content: "";
  display: block;
  position: absolute;
  left: 44%;
  top: -1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-bg3);
  transform: rotate(45deg);
}

/*=======Footer-Session====*/
footer {
  background-color: var(--color-bg2);
  padding-top: 5rem;
}

.footer h4 {
  margin-bottom: 3rem;
}

.footer p {
  margin-bottom: 0.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

footer ul li {
  margin-bottom: 1rem;
}

footer ul li a {
  cursor: pointer;
}

footer ul li a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  gap: 1rem;
  font-size: var(--fs-700);
}
.copyright {
  text-align: center;
  padding-block: 3rem;
  border-top: 1px solid var(--color-white);
  margin-top: 4rem;
}
