/*=============MEDIA QUERIES(TABLETS)=============*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-container-width);
  }

  h1 {
    font-size: var(--fs-h1);
  }

  h2 {
    font-size: var(--fs-h2);
  }

  h3 {
    font-size: var(--fs-h3);
  }

  h4 {
    font-size: var(--fs-h4);
  }

  /*=============NAV BAR=============*/
  nav button {
    display: inline-block;
    cursor: pointer;
    font-size: var(--fs-600);
    color: var(--color-white);
    background: transparent;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav-menu {
    position: fixed;
    top: 5rem;
    height: fit-content;
    right: 5%;
    flex-direction: column;
    gap: 0;
    width: 18rem;
    display: none;
  }

  .nav-menu li {
    width: 100%;
    height: 5.8rem;
    animation: NavMenu 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav-menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav-menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav-menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav-menu li a {
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: var(--transition);
  }

  .nav-menu li a:hover {
    background-color: var(--color-bg);
    color: var(--color-white);
  }

  /*=============KEY FRAME=============*/
  @keyframes NavMenu {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  /*=============HERO=============*/
  .hero {
    height: 50vh;
    margin-bottom: 4rem;
  }

  .hero-container {
    gap: 0;
    padding-bottom: 2rem;
  }

  /*=============CATEGORY=============*/

  .category {
    height: auto;
  }

  .category-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .category-left {
    margin-right: 0;
  }

  /*=============COURSES=============*/

  .course {
    margin-top: 0;
  }

  .grid--3--col {
    grid-template-columns: repeat(2, 1fr);
  }

  /*=============FAQS=============*/
  .grid--2--cols {
    grid-template-columns: 1fr;
  }

  .question {
    padding: 1rem;
  }

  /*=======FOOTER====*/
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=============MEDIA QUERIES(PHONES)=============*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--sm-container-width);
  }

  .nav-menu {
    right: 3%;
  }
  /*=============HERO=============*/

  .hero {
    height: 100vh;
  }

  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .hero-left {
    margin-top: 7rem;
  }

  /*=============CATEGORY=============*/
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }
  .tags {
    padding: 1rem;
    border-radius: 1rem;
  }

  /*=============COURSES=============*/
  .grid--3--col {
    grid-template-columns: 1fr;
  }
  /*=============TESTIMONIAL=============*/

  .testimonial-text {
    padding: 1rem;
  }

  /*=============FOOTER=============*/
  .grid--4--cols {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social {
    justify-content: center;
  }
}

/*=============MEDIA QUERIES(ABOUT SESSION TABLETS)=============*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-container-width);
  }
  .about-success {
    margin-top: 2rem;
  }

  .achieve-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .about-left {
    width: 80%;
    margin: 0 auto;
  }

  .grid--4--about {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
  }

  .member {
    padding: 1rem;
  }
}

/*=============MEDIA QUERIES(ABOUT SESSION PHONES)=============*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--sm-container-width);
  }
  .sucess-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .grid--4--about {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }

  .member {
    padding: 0;
  }

  .member p {
    margin-bottom: 1rem;
  }
}
